<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div class="container-fluid kontakti-sektsioon">
                <section>
                    <form class="form">
                        <label for="name:"><input placeholder="Name"></input>
                        <label for="email:"><input placeholder="E-mail"></input>
                        <label for="message:">
                            <textarea placeholder="Message" rows="6" ></textarea>
                        <button>Send message</button>
                    </form>
                </section>
            </div>
    </div>
    
    <script src="/scripts/contact.js"></script>
</body>
<footer>
<%- include ("../partials/bottomnav.ejs") %>
</footer>
</html>